<h1>New learn</h1>

<%= error_messages_for :learn %>

<% form_for(@learn) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Contents</b><br />
    <%= f.text_field :contents %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', learns_path %>
