<p style="text-align:left">
<% if session[:user] %>
<span style="font-weight:bold"><%= self.current_user.login %></span> | <%= link_to 'パスワード変更', :action => 'change_passwd' %> | <%= link_to 'ログアウト', :action => 'logout' %>
<% else %>
<%= link_to 'アカウント登録', :action => 'signup' %> | <%= link_to 'ログイン', :action => 'login' %>
<% end %>
</p>

<div class="memo" style="position:relative;left:26%;width:550px;">
	<div style="text-align:left">
		<img border="0" src="/images/adel_logo.jpg" />
		<p>Welcome to the ADEL that is Adaptive e-Learning Sequencing Control System</p>
		<p>Let's begin learning!!</p>
		<br />
	</div>
</div>

<% if session[:user] %>
<div style="position:relative;left:15px;border:solid gray 2px;">
	<h3>学習する教材を選択してください</h3>
	<dl>
	<% @seqList.each do |val| %>
		<% i=0 %>
		<dt style="margin:8px 35px;">
			<%= link_to "学習を始める", "/learns/#{val[0]}" %>
			<label>
			<span style="font-weight:bold;font-size:13pt;color:darkred"> ： <%= val[1] %></span>
			</label>
		</dt>
		<% i+=1 %>
	<% end %>
	</dl>
</div>
<% end %>
